name: Android Build APK

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # Устанавливаем JDK
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      # Устанавливаем Android SDK вручную через sdkmanager
      - name: Install Android SDK
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip wget tar lib32stdc++6 lib32z1
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          mkdir -p $HOME/Android/cmdline-tools
          unzip cmdline-tools.zip -d $HOME/Android/cmdline-tools
          export ANDROID_SDK_ROOT=$HOME/Android
          export PATH=$PATH:$ANDROID_SDK_ROOT/cmdline-tools/tools/bin
          yes | sdkmanager --licenses
          sdkmanager "platform-tools" "platforms;android-34" "build-tools;34.0.0"

      # Кэш Gradle
      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: gradle-${{ runner.os }}-

      # Сборка APK
      - name: Build APK
        run: ./gradlew assembleRelease

      # Найти APK
      - name: Find APK
        run: find . -type f -name "*.apk"

      # Сохраняем APK как артефакт
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: '**/build/outputs/**/*.apk'